/* CSS Mini Reset */
html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0; 
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
  text-align: left;
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight: normal; }
img { border: 0; }


/* OWN */

:root {
  /* https://coolors.co/780000-fdf0d5-003049-c1121f */
  --primary-bright-color: #FDF0D5;
  --primary-blue-color: #003049;
  --dark-red-color: #780000;
  --bright-red-color: #C1121F

  --gray-bg-color: #f6f6f6;
  --gray-border-color: #d0d0d0;
  --link-color: var(--dark-red-color);
}

/* border-box everything, it's just so much better */
*, *::before, *::after {
    box-sizing: border-box;
}


/* sticky footer: start */
  body {
      display: flex;
      flex-direction: column;
  }

  div.content {
    display: flex;
    display-direction: row;
  }
  footer {
    flex-shrink: 0;
  }
/* sticky footer: end */


html {
  background-color: #f0f0f0;
}

body {
  font-family: Dejavu Sans, Arial, Verdana, sans-serif;
  color: rgb(17, 17, 17);

  background-color: #ffffff;

  margin: auto;
  min-height: 100vh;
  min-width: 100vw;
}

header {
  padding-block: 1em;

  border-bottom: 1px solid var(--gray-border-color);

  background-image: linear-gradient(#fff, #f4f5f5);
  box-shadow: 0px 4px 15px 0px rgb(239, 239, 239);
}

header h1 {
  text-align: center;
}

footer {
  text-align: center;
}
span.dpc {
  font-family: Dejavu Sans Mono, monotype;
}

span.subtitle {
  font-size: 0.8em;
  font-weight: normal;
}

nav {
  display: flex;
  justify-content: left;
  gap: 2em;
  font-weight: bold;
}

main.content {
  flex: 1 0 auto;
}

.content {
  max-width: 42em;
  width: 100%;
  margin: auto;
  padding-inline: clamp(0em, 15vw - 1em, 1em);
}

footer {
  background-color: #f6f6f6;
  padding-block: 1em;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: var(--primary-blue-color);
}

button {
    padding: 12px 25px;
    background-image: linear-gradient(45deg, #6ab1d7, #33d9de);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.12);
}

.split {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.column {
}

.text-column {
  flex-grow: 1; 
}

.img-column {
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  max-width: 2em;
  text-align: center;
}

.img-column img {
  height: 2em;
}

.post form textarea {
  resize: vertical;
  height: 50vh;
}

.post form input[type="text"],
.post form textarea {
  width: 100%;
  transition: border 0.3s;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.2em;
  margin-block: 0.5em;
}
.post form input[type="text"]:focus,
.post form textarea:focus {
  border-color: #007BFF;
  outline: none;
}
